@import "../index.sass"

.navMain 
    position: fixed 
    top: 0
    left: 0
    z-index: 1
    transform: translateY(-100px)
    animation: navMainAppear 1s linear forwards 2s
    @keyframes navMainAppear 
        100% 
            transform: none
    .navBtn
        position: relative
        top: 10px
        margin: 20px 10px
        padding: 10px
        padding-top: 50px
        font-size: 20px
        color: $white
        text-decoration: none
        border: 2px solid $white
        border-radius: 8px
        transition: .3s
    .navBtn:hover 
        background-color: $white
        color: #000
    .selected
        top: 25px
        background-color: $white
        color: #000
        
