//colors 
$white: #fff
$black: #000
    
* 
    margin: 0
    padding: 0
    box-sizing: border-box 
h1::selection, h2::selection, p::selection, span::selection
    background-color: $white
    color: $black
button, a 
    outline: none 
    text-decoration: none 
    border: none 
    background-color: transparent
body 
    font-family: 'Roboto', sans-serif
    color: $white
    background-color: $black
=flexCenter()
    display: flex 
    justify-content: center 
    align-items: center
    align-content: center 
    flex-wrap: wrap
.mainSection
    width: 100vw
    min-height: 100vh
    +flexCenter()
    background-color: $black 
    opacity: 0
    animation: appear 1s forwards
    h1 
        width: 100% 
        font-size: 30px
        text-align: center
    h3 
        position: absolute
        top: 80px
        width: 100% 
        font-size: 25px
        text-align: center
        text-transform: uppercase
@keyframes appear 
    100% 
        opacity: 1

